@import url(http://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200,700);
@font-face {
  font-family: VivaLaVida;
  src: url(../fonts/SurfingCapital.ttf);
}
@-webkit-keyframes backgroundScroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -180px 0px;
  }
}
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Dosis", sans-serif;
  font-size: 17px;
  color: #fff;
}
.btn {
  border-radius: 0;
  font-family: "Yanone Kaffeesatz", "sans-serif";
  font-size: 20px;
  padding: 9px 23px;
}
a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
a:focus,
a:hover {
  text-decoration: none;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Yanone Kaffeesatz", "sans-serif";
  font-weight: 300;
  text-transform: uppercase;
}
h2 {
  font-size: 36px;
}
.navbar-toggle {
  margin-top: 12px;
}
.navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-toggle,
.navbar-toggle:focus {
  border: 1px solid #fff;
  outline: none;
}
.header-top {
  display: block;
  overflow: hidden;
  padding: 25px;
}
.main-nav {
  position: absolute;
  width: 100%;
  z-index: 999;
}
.main-nav .container {
  width: 100%;
}
.social-icons a {
  font-size: 18px;
  color: #fff;
  padding-left: 20px;
}
.social-icons .fa-facebook:hover {
  color: #3b5997;
}
.social-icons .fa-twitter:hover {
  color: #29c5f6;
}
.social-icons .fa-instagram:hover {
  color: #d13d2f;
}
.social-icons .fa-youtube:hover {
  color: #ec5538;
}
.navbar-brand {
  background-color: #1b7b9800;
  height: 90px;
  margin-bottom: 20px;
  position: relative;
  width: 297px;
}
.navbar-brand img {
  position: absolute;
  top: -30px;
}
.navbar-right {
  background-color: #1b7b98;
  padding: 0 95px 0 0;
  opacity: 0.9;
}
.navbar-right li a {
  padding: 35px 21px;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Yanone Kaffeesatz", "sans-serif";
  font-weight: 300;
}
.navbar-right li a:hover,
.navbar-right li a:focus,
.navbar-right .active a {
  background-color: #fff;
  color: #16728f;
}
.fixed-menu {
  background-color: #1b7b98;
  position: fixed;
  top: 0;
}
.fixed-menu .navbar-right {
  padding: 0;
}
.fixed-menu .navbar-right li a {
  font-size: 18px;
  padding: 20px 25px;
  text-shadow: inherit;
}
.fixed-menu .navbar-brand {
  height: 60px;
  margin-top: 0;
  padding: 0;
  margin-bottom: 0;
  width: 125px;
}
.fixed-menu .navbar-brand img {
  height: 60px;
  top: 0;
}
.fixed-menu .header-top {
  display: none;
}
#home {
  position: relative;
  overflow: hidden;
  /* background-image: url(../images/bg.jpg); */
  background-position: center;
  background-size: cover;
  -webkit-animation: backgroundScroll 7s linear infinite;
  -webkit-animation-fill-mode: forwards;
  animation: backgroundScroll 7s linear infinite;
  animation-fill-mode: forwards;
}
.video-allign{
  /* height: 100vh; */
  width: fit-content;
}
.container-viva {
  padding: 300px 0 300px;
}
.container-viva h1 {
  font-family: VivaLaVida;
  font-size: 200px;
}
.container-viva h1:hover {
  color: palegoldenrod;
}
#main-slider img {
  width: 100%;
}
#main-slider .carousel-caption {
  background: none repeat scroll 0 0 #000000;
  bottom: 14%;
  float: left;
  left: 0;
  opacity: 0.8;
  padding: 10px 60px 35px;
  right: inherit;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
}
#main-slider .carousel-caption h2 {
  font-size: 38px;
}
#main-slider .carousel-caption h4 {
  font-size: 24px;
}
#main-slider .carousel-caption a {
  font-size: 22px;
  color: #2da1c5;
}
#main-slider .carousel-caption a:hover {
  color: #2588a6;
}
#main-slider .carousel-caption a:hover i {
  margin-left: 35px;
}
#main-slider .carousel-caption a i {
  margin-left: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#main-slider .carousel-indicators li {
  background-color: #1b7b98;
  border: 1px solid #1b7b98;
}
#main-slider .carousel-indicators li.active {
  background-color: #fff;
  border: 1px solid #fff;
}
#explore {
  background-color: #c34c39;
  background-image: url("../images/event-bg.jpg");
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  padding: 130px 0 100px;
}
@media only screen and (max-device-width: 480px) {
  #explore {
    padding: 50px 0 25px;
  }
}
@media only screen and (max-device-width: 480px) {
  #explore {
    padding: 50px 0 25px;
  }
}
.watch {
  position: absolute;
  left: 0;
  top: 7%;
}
#explore h2 {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
}
#countdown {
  display: block;
  overflow: hidden;
  text-align: center;
  padding: 0;
}
#countdown li {
  list-style: none;
  display: inline-block;
  margin-right: 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  position: relative;
}
#countdown li:last-child {
  margin-right: 0;
}
#countdown li span {
  display: block;
  font-size: 40px;
  font-weight: 700;
  height: 82px;
  line-height: 79px;
  width: 75px;
  border-radius: 10px;
  border-right: 1px solid #9e3e2e;
  border-bottom: 1px solid #9e3e2e;
}
#countdown li .days {
  background-color: #45b29d;
  border-top: 1px solid #6ac1b1;
  border-left: 1px solid #6ac1b1;
}
#countdown li .hours {
  background-color: #efc94c;
  border-top: 1px solid #f2d470;
  border-left: 1px solid #f2d470;
}
#countdown li .minutes {
  background-color: #e27a3f;
  border-top: 1px solid #e89565;
  border-left: 1px solid #e89565;
}
#countdown li .seconds {
  background-color: #df5a49;
  border-top: 1px solid #e57b6d;
  border-left: 1px solid #e57b6d;
}
#countdown li:before {
  background-color: #ffffff;
  content: "";
  height: 11px;
  left: 0;
  position: absolute;
  top: 36px;
  width: 1px;
}
#countdown li:after {
  background-color: #ffffff;
  content: "";
  height: 11px;
  right: 0;
  position: absolute;
  top: 36px;
  width: 1px;
}
#event {
  background-color: #33888f;
  background-image: url("../images/performar-bg.jpg");
  background-position: 50% 0;
  background-size: contain;
  position: relative;
  background-repeat: repeat-y;
}
.guitar {
  position: absolute;
  right: 0;
  top: 0;
}
#event h2 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 40px;
  margin-top: 70px;
  text-transform: uppercase;
}
.single-event {
  margin-bottom: 70px;
}
.single-event h4 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  line-height: 26px;
  margin-top: 25px;
  text-transform: uppercase;
}
.single-event h5 {
  font-size: 18px;
  font-weight: 100;
  display: block;
}
#event-carousel {
  position: relative;
}
.even-control-left,
.even-control-right {
  position: absolute;
  font-size: 24px;
  color: #fff;
  top: 0;
}
.even-control-left {
  right: 3%;
}
.even-control-right {
  right: 0;
}
#about {
  background-color: #75b46e;
  position: relative;
  width: 100%;
  display: flex;
}
.guitar2 {
  top: 0;
  width: 50%;
}
.guitar2 img {
  padding-top: 3%;
}
.about-content {
  width: 50%;
  background-image: url("../images/about-bg.jpg");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 70px 110px;
}
#about h2 {
  margin-bottom: 23px;
}
.about-content p {
  font-size: 17px;
  font-family: "Dosis", sans-serif;
}
#about .btn-primary {
  background-color: #137c61;
  color: #fff;
  text-transform: capitalize;
  border: none;
  margin-top: 28px;
}
#about .btn-primary:hover {
  background-color: #126d55;
}
#sponsor {
  background-color: #1881a2;
  background-image: url("../images/sponsor-bg.jpg");
  background-position: 50% 0;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.light {
  position: absolute;
  right: 0;
  bottom: 0;
}
#sponsor .col-sm-10 {
  z-index: 10;
}
#sponsor h2 {
  margin-top: 90px;
  margin-bottom: 40px;
}
#sponsor .item ul {
  font-size: 0;
  padding: 0;
}
#sponsor .item ul li {
  display: inline-block;
  list-style: none;
  width: 33.33%;
  margin-bottom: 75px;
}
#sponsor .item ul li:last-child {
  margin-right: 0;
}
.sponsor-control-left,
.sponsor-control-right {
  color: #ffffff;
  font-size: 24px;
  position: absolute;
  top: 20%;
}
.sponsor-control-left {
  right: 12%;
}
.sponsor-control-right {
  right: 10%;
}
.contact-section {
  background-color: #f7ab24;
  background-image: url("../images/contact-bg.jpg");
  background-position: 60% 0;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.ear-piece {
  position: absolute;
  left: 0;
  top: 0;
}
#contact .container {
  padding-top: 47px;
}
#contact h3 {
  text-transform: inherit;
  color: #373737;
}
#contact-section h3 {
  margin-bottom: 25px;
}
#contact address {
  font-size: 18px;
  color: #373737;
}
.contact-text {
  margin-bottom: 35px;
  display: block;
}
#contact-section .form-control {
  border-color: #ae750d;
  box-shadow: none;
  outline: 0 none;
  border-radius: 0;
  color: #797979;
  font-size: 18px;
}
#contact-section .form-control:focus {
  border-color: #ae750d;
}
#contact-section input {
  height: 44px;
}
#contact-section textarea {
  height: 90px;
  resize: none;
}
#contact-section .btn-primary {
  background-color: #373737;
  color: #f7ab24;
  border: none;
  font-size: 24px;
  padding: 6px 42px;
  margin-bottom: 110px;
  margin-top: 10px;
}
#contact-section .btn-primary:hover {
  background-color: #212020;
  color: #fff;
}
#footer {
  background-color: #212121;
  background-image: url("../images/footer-bg.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  font-size: 20px;
  padding: 35px 0;
}
#footer a {
  color: #f7ab24;
}
#footer a:hover {
  color: #1b7b98;
}

#gallery {
    background-color: #000000;
    color: #ffffff;
   padding: 5px;
}
/* .cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vmin;
    overflow: hidden;
    transform: skew(0deg);

  }
  .cont .card {
    flex: 1;
    transition: all 1s ease-in-out;
    height: 75vmin;
    position: relative;
  }
  .cont .card .card__head {
    color: black;
    background: rgba(255, 30, 173, 0.75);
    padding: 0.5em;
    transform: rotate(-90deg);
    transform-origin: 0% 0%;
    transition: all 0.5s ease-in-out;
    min-width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1em;
    white-space: nowrap;
  }
  .cont .card:hover {
    flex-grow: 10;
  }
  .cont .card:hover img {
    filter: grayscale(0);
  }
  .cont .card:hover .card__head {
    text-align: center;
    top: calc(100% - 2em);
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 2em;
    transform: rotate(0deg) skew(-5deg);
  }
  .cont .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s ease-in-out;
    filter: grayscale(100%);
  }
  .cont .card:not(:nth-child(5)) {
    margin-right: 1em;
  }

  .cont h2 {
      color: #000000;
  } */
  .center-gallery{
    margin-right: auto;
    margin-left: auto;
  }
  .cont {
    position: relative;
    overflow: hidden;
    height: 100vh;
    padding: 80px 70px;
    justify-content: center;
  }
  .cont__inner {
    position: relative;
    height: 100%;
  }
  .cont__inner:hover .el__bg:after {
    opacity: 1;
  }
  .custom {
    padding: 0px;
  }
  .el {
    position: absolute;
    left: 0;
    top: 0;
    width: 15.2%;
    height: 100%;
    background: #252525;
    transition: transform 0.6s 0.7s, width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s;
    will-change: transform, width, opacity;
  }
  .el:not(.s--active) {
    cursor: pointer;
  }
  .el__overflow {
    overflow: hidden;
    position: relative;
    height: 100%;
  }
  .el__inner {
    overflow: hidden;
    position: relative;
    height: 100%;
    transition: transform 1s;
  }
  .cont.s--inactive .el__inner {
    transform: translate3d(0, 100%, 0);
  }
  .el__bg {
    position: relative;
    width: calc(100vw - 140px);
    height: 100%;
    transition: transform 0.6s 0.7s;
    will-change: transform;
  }
  .el__bg:before {
    content: "";
    position: absolute;
    left: 0;
    top: -5%;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: center center;
    transition: transform 1s;
    transform: translate3d(0, 0, 0) scale(1);
  }
  .cont.s--inactive .el__bg:before {
    transform: translate3d(0, -100%, 0) scale(1.2);
  }
  .el.s--active .el__bg:before {
    transition: transform 0.8s;
  }
  .el__bg:after {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.5s;
  }
  .cont.s--el-active .el__bg:after {
    transition: opacity 0.5s 1.4s;
    opacity: 1 !important;
  }
  .el__preview-cont {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s 1.2s;
  }
  .cont.s--inactive .el__preview-cont {
    opacity: 0;
    transform: translateY(10px);
  }
  .cont.s--el-active .el__preview-cont {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.5s;
  }
  .el__heading {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
  }
  .el__content {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.1s;
  }
  .el.s--active .el__content {
    z-index: 2;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s 1.4s;
  }
  .el__text {
    text-transform: uppercase;
    font-size: 40px;
    color: #fff;
  }
  .el__close-btn {
    z-index: -1;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 60px;
    height: 60px;
    opacity: 0;
    pointer-events: none;
    transition: all 0s 0.45s;
    cursor: pointer;
  }
  .el.s--active .el__close-btn {
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transition: all 0s 1.4s;
  }
  .el__close-btn:before, .el__close-btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 8px;
    margin-top: -4px;
    background: #fff;
    opacity: 0;
    transition: opacity 0s;
  }
  .el.s--active .el__close-btn:before, .el.s--active .el__close-btn:after {
    opacity: 1;
  }
  .el__close-btn:before {
    transform: rotate(45deg) translateX(100%);
  }
  .el.s--active .el__close-btn:before {
    transition: all 0.3s 1.4s cubic-bezier(0.72, 0.09, 0.32, 1.57);
    transform: rotate(45deg) translateX(0);
  }
  .el__close-btn:after {
    transform: rotate(-45deg) translateX(100%);
  }
  .el.s--active .el__close-btn:after {
    transition: all 0.3s 1.55s cubic-bezier(0.72, 0.09, 0.32, 1.57);
    transform: rotate(-45deg) translateX(0);
  }
  .el__index {
    overflow: visible;
    position: absolute;
    left: 0;
    bottom: -40px;
    width: 100%;
    height: 100%;
    min-height: 250px;
    text-align: center;
    font-size: 5vw;
    line-height: 0.85;
    font-weight: bold;
    transition: transform 0.5s, opacity 0.3s 1.4s;
    transform: translate3d(0, 1vw, 0);
  }
  .el:hover .el__index {
    transform: translate3d(0, 0, 0);
  }
  .cont.s--el-active .el__index {
    transition: transform 0.5s, opacity 0.3s;
    opacity: 0;
  }
  .el__index-back, .el__index-front {
    padding: 20px;
    transform: rotate(-90deg);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .el__index-back {
    color: #2f3840;
    opacity: 0;
    transition: opacity 0.25s 0.25s;
  }
  .el:hover .el__index-back {
  
    transition: opacity 0.25s;
    opacity: 1;
  }
  .el__index-overlay {
    overflow: hidden;
    position: relative;
    transform: translate3d(0, 100%, 0);
    transition: transform 0.5s 0.1s;
    color: transparent;
  }
  .el__index-overlay:before {
    content: attr(data-index);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    transform: translate3d(0, -100%, 0);
    transition: transform 0.5s 0.1s;
  }
  .el:hover .el__index-overlay {
    transform: translate3d(0, 0, 0);
  }
  .el:hover .el__index-overlay:before {
    transform: translate3d(0, 0, 0);
  }
  .el:nth-child(1) {
    transform: translate3d(0%, 0, 0);
    transform-origin: 50% 50%;
  }
  .cont.s--el-active .el:nth-child(1):not(.s--active) {
    transform: scale(0.5) translate3d(0%, 0, 0);
    opacity: 0;
    transition: transform 0.95s, opacity 0.95s;
  }
  .el:nth-child(1) .el__inner {
    transition-delay: 0s;
  }
  .el:nth-child(1) .el__bg {
    transform: translate3d(0%, 0, 0);
  }
  .el:nth-child(1) .el__bg:before {
    transition-delay: 0s;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-3.jpg");
  }
  .el:nth-child(2) {
    transform: translate3d(105.2083333333%, 0, 0);
    transform-origin: 155.2083333333% 50%;
  }
  .cont.s--el-active .el:nth-child(2):not(.s--active) {
    transform: scale(0.5) translate3d(105.2083333333%, 0, 0);
    opacity: 0;
    transition: transform 0.95s, opacity 0.95s;
  }
  .el:nth-child(2) .el__inner {
    transition-delay: 0.1s;
  }
  .el:nth-child(2) .el__bg {
    transform: translate3d(-19.2%, 0, 0);
  }
  .el:nth-child(2) .el__bg:before {
    transition-delay: 0.1s;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-4.jpg");
  }
  .el:nth-child(3) {
    transform: translate3d(210.4166666667%, 0, 0);
    transform-origin: 260.4166666667% 50%;
  }
  .cont.s--el-active .el:nth-child(3):not(.s--active) {
    transform: scale(0.5) translate3d(210.4166666667%, 0, 0);
    opacity: 0;
    transition: transform 0.95s, opacity 0.95s;
  }
  .el:nth-child(3) .el__inner {
    transition-delay: 0.2s;
  }
  .el:nth-child(3) .el__bg {
    transform: translate3d(-38.4%, 0, 0);
  }
  .el:nth-child(3) .el__bg:before {
    transition-delay: 0.2s;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-5.jpg");
  }
  .el:nth-child(4) {
    transform: translate3d(315.625%, 0, 0);
    transform-origin: 365.625% 50%;
  }
  .cont.s--el-active .el:nth-child(4):not(.s--active) {
    transform: scale(0.5) translate3d(315.625%, 0, 0);
    opacity: 0;
    transition: transform 0.95s, opacity 0.95s;
  }
  .el:nth-child(4) .el__inner {
    transition-delay: 0.3s;
  }
  .el:nth-child(4) .el__bg {
    transform: translate3d(-57.6%, 0, 0);
  }
  .el:nth-child(4) .el__bg:before {
    transition-delay: 0.3s;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-6.jpg");
  }
  .el:nth-child(5) {
    transform: translate3d(420.8333333333%, 0, 0);
    transform-origin: 470.8333333333% 50%;
  }
  .cont.s--el-active .el:nth-child(5):not(.s--active) {
    transform: scale(0.5) translate3d(420.8333333333%, 0, 0);
    opacity: 0;
    transition: transform 0.95s, opacity 0.95s;
  }
  .el:nth-child(5) .el__inner {
    transition-delay: 0.4s;
  }
  .el:nth-child(5) .el__bg {
    transform: translate3d(-76.8%, 0, 0);
  }
  .el:nth-child(5) .el__bg:before {
    transition-delay: 0.4s;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-7.jpg");
  }
  .el:hover .el__bg:after {
    opacity: 0;
  }
  .el.s--active {
    z-index: 1;
    width: 100%;
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s, width 0.7s 0.7s, z-index 0s;
  }
  .el.s--active .el__bg {
    transform: translate3d(0, 0, 0);
    transition: transform 0.6s;
  }
  .el.s--active .el__bg:before {
    transition-delay: 0.6s;
    transform: scale(1.1);
  }
  
  .icon-link {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 32px;
  }
  .icon-link img {
    width: 100%;
    vertical-align: top;
  }
  .icon-link--twitter {
    left: auto;
    right: 5px;
  }